body {
    background: radial-gradient(circle at top, #595959, #3d3d3d);
}

img {
    max-height:100%;
    max-width:100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #666666;
}

.container {
    width: 100%;
    height: 300px;
    margin: auto;
    padding: 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}

.container-description {
    flex: 0 0 18%;
    height: 110%;
    background-color: black;
    margin-left: -1.5%;
    margin-top: -1.5%;
    border: 5px solid red;
    border-radius: 15px;
}

.container-description-text {
    margin-left: 5%;
    margin-top: 15%;
    color: white;
    text-align: left;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container-item {
    margin-left: -10%;
    margin-top: 2%;
    flex: 0 0 25%;
    height: 99%;
    text-align: center;
    background: linear-gradient(to right, #7d7d7d, #575757);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 1.0);
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

    .container-item:hover {
        transform-origin: top right;
        transform: translateX(-5%) rotate(5deg);
    }

        .container-item:hover:nth-child(2) {
            margin-left: 3%;
            transform-origin: top right;
            transform: translateX(-5%) rotate(5deg);
        }

    .container-item:nth-child(2) {
        margin-left: 1%;
    }

    .container-item:hover ~ .container-item {
        transform-origin: center;
        transform: translateX(35%)
    }
